* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
    font-family: 'Pixels';
}

@font-face {
    font-family: 'Pixels';
    src: url(./fonts/better-vcr5.1.ttf);
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 800px;
    margin: 0 auto;
}

.core_blocks {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-bottom: 45px;
}

.core_block {
    box-shadow: 3px 3px 20px #000;
    padding: 20px 35px
}

.link {
    text-decoration: none;
    color: #ffffff;
}

